body {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    color:#1E9585;
    font-size: 29px;
    margin: 10px 0 5px 0;
}

#bem-vindo-subtexto {
    color: #9BABB7;
    font-size: 13px; 
}

#caixa-login {
    width: 269px;
    height: 393px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 200px 0 0 400px;
    padding: 15px 60px;
    text-align: center;
    position: absolute;
    box-shadow: 10px 12px 8px rgba(50, 50, 50, 0.77);
}

.inputs {
    width: calc(100% - 8px);
    height: 27px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    padding: 4px;
}

.inputs input {
    width: calc(100% - 14px);
    border: none;
    padding-left: 5px;
    outline: none;
}

.inputs i {
    line-height: 27px;
    color: #1E9585;
}

.entrar {
    width: 100px;
    height: 25px;
    background-color: #1E9585;
    color: #FFF;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.entrar:hover {
    cursor: pointer;
    background-color: red;
}

a {
    text-decoration: none;
    color: #9BABB7;
    font-size: 14px;
}

#botao-google {
    width: 200px;
    height: 50px;
}

#imgEstudante {
    height: 855px;
    margin-left: 620px;
      
}

#botao-google:hover {
    cursor: pointer;
}

#botao-apple:hover {
    cursor: pointer;
}

#logo-sesi {
    height: 36px;
    margin: 0 7px 0 500px;
}
#logo-senai {
    height: 36px;
    margin: 5px 17px 0 0;
}
#logo-espaco {
    height: 36px;
    margin: 5px 16px 0 0;
}
#caixa-texto {
    margin: -180px 0 0 1550px;
    width: 310px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid white;
    position: fixed;
    background-color: white;
}

#caixa-texto i {
    color: #1E9585;
    line-height: 25px;
    font-size: 20px;
    margin-left: 20px;
}
